@inject NavigationManager NavigationManager


<div class="offcanvas offcanvas-end" tabindex="-1" id="offCanvasMain" aria-labelledby="offCanvasMain">

	<div class="offcanvas-header text-center border-1">
		<a class="navbar-brand fs-4" style="color: grey; font-weight: 600;" href="">My New App</a>
	</div>

	<div class="offcanvas-body">
		<div class="nav-item ">
			<a class="nav-link ps-3 text-muted mx-1" href="/admin/loandata" Match="NavLinkMatch.All" data-bs-dismiss="offcanvas">
				<span class="bi bi-buildings me-2" aria-hidden="true"></span> Sample Item
			</a>
		</div>

		<AuthorizeView>
			<Authorized>
				<div class="nav-item">
					<a class="nav-link ps-3 text-muted mx-1" href="/admin/users" @onclick=@(() => NavigateTo("/admin/users")) data-bs-dismiss="offcanvas">
						<span class="bi bi-people me-2" aria-hidden="true"></span> Users
					</a>
				</div>

				<div class="nav-item">
					<a class="nav-link ps-3 text-muted mx-1" href="/admin/roles" @onclick=@(() => NavigateTo("/admin/roles")) data-bs-dismiss="offcanvas">
						<span class="bi bi-card-checklist me-2" aria-hidden="true"></span> Roles
					</a>
				</div>
			</Authorized>
		</AuthorizeView>

		<hr style="border-top: 1px solid grey;"> <!-- Visible separator -->

		<div class="nav-item">
			<NavLink class="nav-link ps-3 text-muted mx-1" href="Identity/Account/Logout" onclick="document.forms['logoutForm'].submit(); return false;">
				<span class="bi bi-box-arrow-left text-danger me-2" aria-hidden="true"></span> Logout
			</NavLink>
			<form id="logoutForm" name="logoutForm" method="post" action="Identity/Account/Logout" style="display: none;"></form>
		</div>
	</div>
</div>

@code {

	void NavigateTo(string url)
	{
		NavigationManager.NavigateTo(url);
	}

}