
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background: linear-gradient(to right, #a5a5a5,white);
    border-bottom: 1px solid red;
}

.navbar-brand {
    font-size: 1.1rem;
}

.offcanvas-header {
    border-bottom: 1px solid red;
    max-height: 56px;
}

.offcanvas-body {
    margin: 0px;
    padding: 0px;
}



.offcanvas {
    max-width: 250px;
}


    .offcanvas:focus-within {
        animation: pop 0.3s ease-in-out;
        outline: none;
    }


@keyframes outline {
    0% {
        outline-color: #495057;
    }

    50% {
        outline-color: #343a40;
    }

    100% {
        outline-color: #212529;
    }
}




.nav-item {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: #d0d0d0;
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: #bebebe;
            color: white;
        }


@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
