@page "/"

@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@inject IJSRuntime jsr

@using Microsoft.AspNetCore.Components.Web
@namespace ServerAppWithAuth.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="~/" />

	@*Bootstrap 5.3.0 CSS/Icon Bundles, Now with firstclass darkmode support! <3*@
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	@*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">*@
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">



	@*Site Specific CSS Bundled by Blazor (This is what all your loose component css files get merged into)*@
	<link href="ServerAppWithAuth.styles.css" rel="stylesheet" />

	<link rel="icon" type="image/png" href="favicon.png" />
	<link href="css/site.css" rel="stylesheet" />

	<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

	<script>
		var savedTheme = localStorage.getItem('themePreference') || 'light';
		document.documentElement.style.display = 'none';
	</script>
</head>


<body>

	<component type="typeof(App)" render-mode="ServerPrerendered" />
	<div id="blazor-error-ui">
		<environment include="Staging,Production">
			An error has occurred. This application may no longer respond until reloaded.
		</environment>
		<environment include="Development">
			An unhandled exception has occurred. See browser dev tools for details.
		</environment>
		<a href="" class="reload">Reload</a>
		<a class="dismiss">🗙</a>
	</div>

	@*Bootstrap 5.3.0 CDN Script Bundle*@
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

	<script src="_framework/blazor.server.js"></script>

</body>
</html>




<script lang="javascript">

	document.addEventListener('DOMContentLoaded', function () {
		applyTheme(savedTheme);
		document.documentElement.style.display = '';
	});

	function toggleThemePreference() {
		savedTheme = ((savedTheme === 'dark') ? 'light' : 'dark');
		applyTheme(savedTheme);
		localStorage.setItem('themePreference', savedTheme);
		return savedTheme;
	}

	function applyTheme(theme) {
		document.querySelector('body')?.setAttribute('data-bs-theme', theme);
	}

	function getSavedThemePreference(){
		return savedTheme;
	}

</script>