@page "/"

<PageTitle>Index</PageTitle>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 mt-4">
            <div class="ms-2 me-1">
                <h2><img src="/favicon.png" /> Hi <a style="color: rebeccapurple; font-weight: 600;">Shuman </a>Development!</h2>
                <div class="ms-4">
                    <h6>Let's build some coolness!</h6>
                    <hr />
                    <h6><a style="color: rebeccapurple; font-weight: 600;">Shuman</a> Blazor Server Template With:</h6>
                    <ul>
                        <li>Identity Core for Individual Accounts</li>
                        <li>Bootstrap 5.3, now with first class darkmode!</li>
                        <li>Starter Layouts to Separate Admin and Public Areas.</li>
                        <li>All Identity Scaffolds retouched with bootstrap 5.3</li>
						<li>Template Version:  2023-07-04 <a style="color: rebeccapurple; font-weight: 600;">❤</a></li>
                    </ul>
                    <SurveyPrompt Title="What are you waiting for?" />
                </div>
            </div>
        </div>
    </div>
</div>



