@page "/admin/index"

@layout AdminLayout

<h3>Dashboard</h3>
<h5>Sales System Statistics</h5>
<hr />

<div class="container">
    <div class="row">

        <div class="col-lg-3">
            <div class="dashboard-tile">
                <h5 class="dashboard-tile-title text-primary">Leads Contacted</h5>
                <hr />
                <p class="text-warning fs-1 fw-bold">425</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="dashboard-tile">
                <h5 class="dashboard-tile-title text-primary">Sales Closed</h5>
                   <hr />
                <p class=" text-success fs-1 fw-bold">85</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="dashboard-tile">
                <h5 class="dashboard-tile-title text-primary">Awaiting Installations</h5>
                   <hr />
                <p class=" text-danger fs-1 fw-bold">43</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="dashboard-tile">
                <h5 class="dashboard-tile-title text-primary ">Confirmed Installations</h5>
                <hr />
                <p class="text-success fs-1 fw-bold">42</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Per-Role Sales Statistics</h5>
					<p class="card-text">Coming soon! <br /> The admin dashboard will provide detailed sales statistics for each role in the sales system.</p>
				</div>
			</div>
		</div>
	</div>
</div>
